.App {
  font-family: sans-serif;
  text-align: center;
}

.things-table {
  width: 500px;
  margin: 10px;
}

td.table__actions {
  width: 220px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 5px;
}

.form {
  margin: 15px 10px;
  width: 340px;
}

.form__input {
  margin: 10px 0;
}

.form__input input {
  height: 25px;
  width: 100%;
}

.form__actions {
  text-align: right;
}

.form__actions button {
  margin-left: 5px;
}

button {
  width: 100px;
  height: 25px;
}
